/* common */

/* common important */
.hide{display: none !important;}
.inline{display: inline !important;}

/*body*/
body{background: #363636; font-size: 12px; color: #C6C6C6; width: 1400px; margin-left: auto; margin-right: auto;}

/*nav*/
.nav{margin: 0 auto; max-width: 100%; min-height: 45px; background: #4C4C4C; box-shadow:0 3px 15px rgba(0,0,0,.35); font-size: 1.2em;}
.nav .nav-brand{width: 100px; display: block; color: rgba(246, 246, 246, .9); text-decoration: none; font-weight:700; padding: 10px; float:left; text-align: center; cursor: pointer;}
/* .nav .user{ float:right; right: 10px;  color: rgba(246, 246, 246, .9); padding: 8px 10px 0px 0px;}
.nav .user a{margin:0px 8px 0px 0px;}
.nav .user span{margin-right: 10px;} */
.nav ul {padding: 0; margin: 0; list-style: none;}
.nav ul li{float: left; position: relative; cursor: default;}
.nav ul li a {color: rgba(189, 189, 189, .9); border-top: 2px solid transparent; border-bottom: 2px solid transparent; display: block; padding: 10px 10px; text-decoration: none;}
.nav ul li a:hover{background-color: #505050; color: white;} 
.nav ul li a:focus{background-color: #505050; color: white;}
.dropdown-content{display: none; position: absolute; background-color: #4C4C4C; min-width: 160px; box-shadow:0 3px 15px rgba(0,0,0,.35); border-radius: 0 0 3px 3px;  cursor: pointer;  z-index: 7000; }
.dropdown-content a{display: block; padding: 10px;}
.dropdown-content a:hover{background-color: #505050;}
.dropdown:hover .dropdown-content {display: block; opacity: .93; animation: fadeIn 0.16s ease-in; -webkit-animation: fadeIn 0.14s ease-in; -moz-animation:fadeIn 0.16s ease-in; -ms-animation:fadeIn 0.16s ease-in; -o-animation:fadeIn 0.16s ease-in;}
@-webkit-keyframes fadeIn{from{opacity:0}to{opacity:.92}}
@-moz-keyframes fadeIn{from{opacity:0}to{opacity:.92}}
@-ms-keyframes fadeIn{from{opacity:0}to{opacity:.92}}
@-o-keyframes fadeIn{from{opacity:0}to{opacity:.92}}
@keyframes fadeIn{from{opacity:0}to{opacity:.92}}

/* path */
.path{margin: 5px 0px 0px 3px;}

/* content */
.content{background: #383838; border: 2px solid #323232; height: 600px; margin: 5px 0px 5px 0px; padding: 5px 5px 5px 5px;}
.content .table-title{display: inline;}

.search-content{position: relative; padding: 10px 5px 10px 5px; margin-bottom: 5px; border: 2px solid #323232; background:#383838; border-radius: 2px;}
.search-content .radio-div{display: inline-block; height: 24px; padding: 4px 7px 0px 5px; border: 1px solid #585858; border-radius: 2px; background: #4e4e4e;}



/* button */
.btn-gray{background: #4C4C4C; border: 1px solid #585858; border-radius: 2px; color:#C6C6C6;  display: inline-block; overflow: visible; text-align: center; white-space: nowrap; user-select: none;  margin: 0; cursor: pointer; font-weight:600; padding: .25rem .5rem; height: 30px;}
.btn-gray:hover{background: #3A3A3A;}
.btn-gray:active{background: #5E5E5E;}
.btn-gray:disabled{color: #615e5e;}
.btn-big{width: 100px; height: 50px; font-size: 16px;}

/* input */
.input-search-gray{background: #3c3b3b; color: #C6C6C6; font-size: 1em; height: 26px; margin-right: -5px; border: 1px solid #646464; border-radius: 2px; text-indent: 5px; display: inline-block; vertical-align: top; margin-left: -5px;}
.input-search-gray:disabled{background: #4e4e4e; color: #656565;}
.input-gray{background: #3c3b3b; color:#C6C6C6; font-size: 1em; height: 30px; border: 1px solid #646464; border-radius: 2px; text-indent: 5px;}
.input-gray:disabled{background: #4e4e4e; color: #656565;}

/* select */
.select-gray{background: #4e4e4e; color:#C6C6C6; font-size: 1em; height: 30px; border: 1px solid #585858; border-radius: 2px; vertical-align: top; padding: .25rem .5rem;}

/* label */
.label-div{background: #404040; width: 90px; height: 28px; font-weight: 600; margin-right: -5px; text-align: center; display: inline-block; vertical-align: top; border-radius: 2px; border: 1px solid #585858;}
.label-div span{display: inline-block; padding-top: 7px;}

/* table */
.table{border: 1px solid #585858;}
.table-box{margin: 3px 0px 0px 0px;}
.table th{background: #585858; padding: 5px 5px 5px 5px; height: 33px; font-size: 13px;}
.table td{padding: 5px 5px 5px 5px; height: 33px; border: 1px solid #585858;}
.table input[type=radio]{cursor: pointer;}
.table label{cursor: pointer; margin: 0px 10px 0px 2px;}

/* blind */
.blind {z-index: 9999; background: rgba(234, 234, 234, 0.1);}

/* width */
.w100pc{width: 100% !important;}
.w98pc{width: 98% !important;}
.w97pc{width: 97% !important;}
.w50px{width: 50px !important;}
.w70px{width: 70px !important;}
.w80px{width: 80px !important;}
.w195px{width: 195px !important;}
.w200px{width: 200px !important;}
 

/* hight */
.h100px{height: 100px !important;}

/* color */
.color-display{display: inline-block; width: 20px; height: 25px; vertical-align: middle; border: 1px solid #646464; cursor: pointer;}

/* box */
.botton-box{text-align: right; position: relative; bottom: 20px; margin: 0px 0px -18px 0px;}